body{
	background-color:black;
	text-align:center;
	color:white;
	margin-left: 60px;
	margin-right: 60px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

h1{
     text-align: left; 
     color: aqua;
    }

speech{
		text-align: left;
		font-family: 'Courier New', Courier, monospace;
		font-size: 110%;
	}

footer{
			margin-left: 30px; margin-right: 30px;
	}
    